- restrict_to "national_buyer | exhibitor" do
  - title "Mi agenda"
  %p
    El Comité Organizador le informa que el jueves 18 de noviembre, debido a la agenda de actividades, el espacio para las reuniones se encuentra más limitado.
  = render :partial => 'meetings/my_meetings', :locals => {:user => current_user}

- restrict_to "admin | extenda" do
  - title "Versión administrador"
  %p
    El Comité Organizador le informa que el jueves 18 de noviembre, debido a la agenda de actividades, el espacio para las reuniones se encuentra más limitado.
  -# .oil_img


.my_meetings_footer
  /*Comprador nacional*/
  - restrict_to "national_buyer" do
    %p
      Cada comprador nacional deberá reservar 3 horas cada día en sus agendas para citas. 
    /*%p*/
    /*  Si su empresa no está registrada, pero acudirá a la feria, debe establecer también un tiempo mínimo de X horas / día (por definir).*/
    %p.imprimir
      = link_to "imprimir agenda", print_path, :target => '_blank'

  /*Expositor*/
  - restrict_to "exhibitor" do
    %p
      Las citas comerciales internacional no contarán con traductores, por lo que la reunión se realizará en el idioma del comprador. 
    %p
      = "La duración de las citas serán de #{current_user.preference.meetings_duration} minutos cada una."

    %p.imprimir
      = link_to "imprimir agenda", print_path, :target => '_blank'



