- content_for :head do
  = javascript_include_tag 'jquery.autocomplete.min'
  = stylesheet_link_tag 'jquery.autocomplete'

- title "Nuevo Mensaje"
#new-message
  - form_for @message do |f|
    = f.error_messages
    %p
      = f.label :subject, "Asunto:"
      %br/
      = f.text_field :subject, :size => 50
    %p
      = f.label :message, "Mensaje"
      %br/
      = f.text_area :message, :size => "64x6"
      %br/
      %span.info= "Formato: **<strong>negrita</strong>** _<em>cursiva</em>_ [Un ejemplo](http://ejemplo.net/)" 

      %p
        - restrict_to "admin | extenda" do
          = f.label :send_all, "Enviar a todos"
          = f.check_box :send_all
    #receivers
      %p
        = label_tag :receivers_select, "Elegir destinatarios"
        = select_tag :receivers_select, select_options_buyers_exhibitors
      %p
        = f.label :receivers_string, "Destinatarios del mensaje "
        %span.info= "(separados por comas)"

        %br/
        = f.text_field :receivers_string, :size => 50, :autocomplete =>"off", :value => params[:receiver]


    .clear
    %p= f.submit "Enviar" 
