- title "Redactar un nuevo mensaje"
#new-message
  - form_for @message do |f|
    %p
      = f.label :subject, "ASUNTO"
      = f.text_field :subject, :size => 50, :autocomplete => 'off', :value => params[:subject]
      = f.error_message_on :subject
    %p
      = f.label :message, "MENSAJE"
      = f.text_area :message, :rows => "6", :cols => "46"
      = f.error_message_on :message

    - restrict_to "admin | extenda" do
      #send_all
        %p
          = f.label :send_all, "ENVIAR A GRUPOS"
          = f.check_box :send_all
        #extra_info{:style => 'display:none;'}
          %p
            = f.label :send_exhibitors, "EXPOSITORES"
            = f.check_box :send_exhibitors
          %p
            = f.label :send_national_buyers, "COMPRADORES NACIONALES"
            = f.check_box :send_national_buyers
          %p
            = f.label :send_international_buyers, "COMPRADORES INTERNACIONALES"
            = f.check_box :send_international_buyers

    #receivers
      %p
        = label_tag :receivers_select, "ELEGIR DESTINATARIOS".upcase
        = select_tag :receivers_select, select_options_buyers_exhibitors
      %p
        = f.label :receivers_string, "DESTINATARIOS DEL MENSAJE (separados por punto y coma)"
        = f.text_area :receivers_string, :autocomplete =>"off", :value => (params[:receiver] ? "#{params[:receiver]}; " : "")
        = f.error_message_on :sender_id

    %span.submit= f.submit "ENVIAR" 
    .separata
