- title "Mensajes #{MESSAGE[params[:action].to_sym]}"
#messages
  %h2 Mis mensajes

  %p
    = link_to "Redactar mensaje", new_message_path
    |
    = message_link("received", "Mensajes recibidos")
    |
    = message_link("sent", "Mensajes enviados")

  - if @messages.blank?
    %p No tienes mensajes
  - else
    %table.tablesorter{:cellspacing => "1", :cellpadding => "0", :border => "0"}
      %thead
        %tr
          %th &nbsp;
          -# %th.header= params[:action] == "received" ? "Remitente" : "Receptores"
          = sorter_header((params[:action] == "received" ? "Remitente" : "Receptores"), "sender.profile.company_name", true)
          %th Asunto
          = sorter_header "Fecha", "created_at"
      %tbody 
        - for message in @messages
          %tr{:class => "#{message_class(message, params[:action])} #{cycle("even", "odd")}"}
            %td= link_to "Leer", message_path(:id => message, :type => params[:action])
            %td= link_message_user(message, params[:action])
            %td=h message.subject
            %td=h message.created_at.to_s(:short)
            - if params[:action] == "received"
              %td= link_to "Eliminar", message_path(:id => message, :type => params[:action]), :confirm => '¿Estás seguro?', :method => :delete

  = will_paginate @messages
