- title "Ver mensaje"

%p
  %strong
    De:
    = link_to_profile @message.sender.profile
%p
  %strong
    - if params[:type] == "sent"
      Para:
      = @message.receiver
    - else
      - if current_user.is_extenda?
        #flash_notice= "Este mensaje iba dirigido al comprador internacional #{link_to_profile @indirect_receiver.profile}"
      - else
        Para:
        = current_user.profile.company_name
%p
  %strong
    Asunto:
  %span.pink= h @message.subject

%p
  = h @message.message

%p
  - if params[:type] == "received"
    = link_to "Responder", new_message_path(:receiver => @message.sender.profile.company_name, :subject => define_subject(@message.subject)) if params[:type] == "received"
    |
    = link_to "Eliminar", message_path(:id => @message.id, :type => params[:type]), :confirm => '¿Estás seguro?', :method => :delete
    |
  = link_to "Volver", eval("#{params[:type]}_messages_path")
