- title "Ver mensaje"

%p
  %strong
    De:
    =h @message.sender.profile.company_name
%p
  %strong
    Para:
    - if params[:type] == "sent"
      = @message.receiver
    - else
      = current_user.profile.company_name
%p
  =h @message.message

%p
  = link_to "Responder", new_message_path(:receiver => @message.sender.profile.company_name) if params[:type] == "received"
  |
  = link_to "Eliminar", message_path(:id => @message.id, :type => params[:type]), :confirm => '¿Estás seguro?', :method => :delete
  |
  = link_to "Volver", eval("#{params[:type]}_messages_path")
