<% title "Mensaje" %>

<p>
  <strong>Sender:</strong>
  <%=h @message.sender_id %>
</p>
<p>
  <strong>Message:</strong>
  <%=h @message.message %>
</p>
<p>
  <strong>State:</strong>
  <%=h @message.state %>
</p>

<p>
  <%= link_to "Eliminar", @message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Volver", eval("#{params[:type]}_messages_path") %>
</p>
