- cache profile do
  %p
    %h2.violet
      PERFIL DE
      = h profile.company_name.upcase
  - if profile.contact_person.present?
    %p
      Persona de contacto:
      = h profile.contact_person
  - if profile.address.present?
    %p 
      Dirección:
      = h profile.address
  - if profile.zip_code.present?
    %p 
      C.P:
      = h profile.zip_code
  - if !profile.country.nil?
    %p 
      País:
      = h profile.country.name
  - if !profile.province.nil?
    %p 
      Provincia:
      = h profile.province.name 
  - if !profile.town.nil?
    %p 
      Localidad:
      = h profile.town.name
  - if profile.languages.present?
    %p 
      Idiomas que habla:
      = h profile.languages
  - if profile.phone.present?
    %p 
      Teléfono:
      = h profile.phone
  - if profile.fax.present?
    %p 
      Fax:
      = h profile.fax
  %p 
    Sectores:
    = profile.sectors_string
  - if profile.user.is_exhibitor?
    - if profile.products.present?
      %p 
        Productos:
        = h profile.products
    - if profile.packages.present?
      %p 
        Envases:
        = h profile.packages
  - elsif profile.user.is_buyer?
    - if profile.commercial_profile.present?
      %p 
        Perfil comercial:
        = h profile.commercial_profile
    
  - if profile.user.email.present? && !profile.user.is_national_buyer? && !profile.user.is_international_buyer?
    %p 
      Email:
      = h profile.user.email
  - if profile.website.present?
    %p 
      Web:
      = link_to profile.website, profile.website, :target => '_blank'
  - if profile.stand.present?
    %p 
      Stand de BIOCórdoba:
      = h profile.stand

