#profile
  - title "Ficha del usuario"
  -# %h2 Información sobre empresas visitantes
  - if @profile.user.enabled?
    = render :partial => 'show', :locals => {:profile => @profile}
    %p
      = link_to_meeting(@profile.user) unless params[:hide] == "meeting"
    %p
      %span.button.violet= link_to "ENVIAR MENSAJE", new_message_path(:receiver => @profile.company_name), :title => "Enviar mensaje a #{@profile.company_name}"
  - else 
    %h2.violet
      USUARIO DESACTIVADO

    %h3 
      = @profile.company_name.upcase
    %p 
      Si desea más información acerca de este usuario, póngase en contacto con el administrador.

  - if current_user.is_exhibitor? && params[:hide] != "search" 
    %p
      %span.button.violet= link_to "REALIZAR OTRA BÚSQUEDA", search_path, :title => 'Ir al buscador' 
