#schedules
  .date
    = back_link(@date)
    =" #{I18n.localize(@date, :format => '%A %d')} "
    = foward_link(@date)

  .schedule
    .user
      Tus citas

    - weekly_calendar(@host.meetings(@date), :date => @date, :without_days => true) do |w|
      - w.week(:clickable_hours => true) do |event,truncate|
        =  link_to event.name(current_user, false), meeting_path(event), :id => event.id, :class => 'meeting-link' 
  .schedule
    .user
      = @guest.login

    - weekly_calendar(@guest.meetings(@date), :date => @date, :without_days => true, :without_hours => true) do |w|
      - w.week(:clickable_hours => true) do |event,truncate|
        =  event.name(current_user, true)

- content_for(:right_column) do
  %center
    - if @meeting.new_record?
      - if @remaining.nil? || @remaining > 0
        %h2 Crear una cita

        La duración de la cita será de
        %b
          = current_user.preference.meetings_duration
        minutos

        .form
          - form_for @meeting do |f|
            %p= f.time_select :starts_at, {:minute_step => 15} 
            %p= f.text_area :note_host, :rows => 10, :cols => 20
            
            = hidden_field_tag "date", @date
            = f.hidden_field :guest_id, :value => @guest.id
            %p
              = submit_tag "Crear"
    - else
      Ya tienes una cita con este comprador
      
      %h2 ¿Cancelar cita?
      .form
        - form_for @meeting do |f|
          = f.label :cancel_reason, "¿Por qué? (opcional)" 
          %br/
          = f.text_area :cancel_reason, :rows => 10, :cols => 20
          %br/
          = submit_tag "Cancelar"



