#schedules
  .date
    = day_link(Event.start_day)
    = day_link(Event.start_day + 1 )
    = day_link(Event.start_day + 2)

  .schedule
    .user.first
      Tus citas

    - weekly_calendar(@host.meetings(@date), :date => @date, :without_days => true) do |w|
      - w.week(:clickable_hours => true) do |event,truncate|
        =  link_to truncate(event.name(current_user, false).upcase, :omission => "..", :length => 19), meeting_path(event), :id => event.id, :class => 'meeting-link' 
  .schedule
    .user
      = truncate(@guest.profile.company_name.upcase, :omission => "..",:length => 29)

    - weekly_calendar(@guest.meetings(@date), :date => @date, :without_days => true, :without_hours => true, :assistance => @guest.assistance_day(@date.day)) do |w|
      - w.week(:clickable_hours => true) do |event,charifluflis|
        =  truncate(event.name(current_user, true), :omission => "..", :length => 22)

.my_meetings_footer
  %p.green
    * Las citas aceptadas (en rosa) podrán ser canceladas durante los días previos a la feria.
  %p.green
    * Una zona sombreada indica que el comprador no asistirá a la feria durante ese periodo.
    -# Por tanto
    -# = estancia_info(@guest)

- content_for(:right_column) do
  .meeting_request_img
    %h2 Petición de citas
  .box_dark_green
    #meeting_request
      - if @remaining.nil? || @remaining > 0
        - form_for @meeting do |f|
          = label_tag "start_at", "HORA DE LA CITA"
          %p= f.time_select :starts_at, {:minute_step => 15}

          %p.input= @guest.profile.company_name.upcase
          %span.button= link_to 'Ver perfil', profile_path(@guest.profile.id), :class => "profile-link hide-meeting-button", :id => @guest.profile.id

          %p.info
            = label_tag "note_host", "Información sobre Cita"
          %p
            = f.text_area :note_host, :rows => 10

          = hidden_field_tag "date", @date
          = f.hidden_field :guest_id, :value => @guest.id
          %p.enviar
            = submit_tag "Solicitar Cita"

          %p.info.small
            El tiempo de cada cita está establecido en 
            = current_user.preference.meetings_duration
            min.

          /*%p.info.small*/
          /*  = "Dispone de un máximo de #{current_user.preference.meetings_number} citas comerciales por cada jornada de la feria."*/

          -# %p.info.small
          -#   Las citas aceptadas (en rosa) podrán ser canceladas durante los días previos a la feria.

          %p.info.small
            = "Podrá organizar sus citas en horario de la feria (de #{current_user.preference.event_day_start_at.to_s(:hour_only)} h. a #{current_user.preference.event_day_end_at.to_s(:hour_only)} h.)"

          %p.info.small
            Las citas comerciales internacional no contarán con traductores, por lo que la reunión se realizará en el idioma del comprador. La duración de las citas serán de 20 minutos cada una
            
