%h2 Tu agenda de citas para el evento

#agenda_extenda
  - 1.upto(@days) do |d|
    - date = @date + (d - 1).days
    .date
      %h3
        =" #{I18n.localize(date, :format => '%A %d')} "

    - @meetings_by_host = Meeting.in(date).with_type(@name).with_state("accepted").group_by{|m| @guest ? m.guest : m.host }.sort{|k,v| k[0].login<=>v[0].login}
    - unless @meetings_by_host.blank?
      - @meetings_by_host.each do |host, meetings|
        %ul
          %strong
            = host.profile.company_name.upcase 
          - for meeting in meetings
            %li
              = "[#{meeting.starts_at.to_s(:hour_only)}]"
              = "cita #{MEETING_STATE[meeting.state.to_sym]} con"
              = meeting.partner(host).profile.company_name.upcase

    - else
      %span No existen citas para ese día
