- title "Mostrando la cita"

- if @controller.request.format == "text/javascript"
  = javascript_include_tag "jquery", "application"

- if @meeting.canceled?
  #flash_error
    Esta cita está cancelada.
  %p
    = @meeting.cancel_reason.blank? ? "El interlocutor no ha dado ninguna razón para su cancelación" : "Razón: #{@meeting.cancel_reason}"
- elsif @meeting.pending?
  #flash_error
    Esta cita está pendiente de aceptación por parte de un organismo internacional extenda.
- else
  #flash_notice
    Cita aceptada automáticamente

%h1 Información de la cita
%p 
  = @meeting.date

- #Mostramos los distintos perfiles dependiendo de quién esté viendo la cita
- if @host || @admin_extenda
  #guest-info-mini
    %p
      = "Comprador: #{@meeting.guest.profile.company_name} ("
      -# = link_to_profile @meeting.guest.profile, "Más información"
      = link_to "Más información"
      )
  #guest-info= render :partial => 'profiles/show', :locals => {:profile => @meeting.guest.profile}
  
- if @guest || @admin_extenda
  #host-info-mini
    %p
      = "Expositor: #{@meeting.host.profile.company_name} ("
      = link_to "Más información"
      )
  #host-info= render :partial => 'profiles/show', :locals => {:profile => @meeting.host.profile}

- #Notas, accesibles solo por el host y el guest
- if @host || @guest
  %h1 Notas
  - form_for @meeting, :url => change_note_meeting_path(@meeting) do |f|
    %p
      = f.text_area @host ? 'note_host' : 'note_guest', :rows => 5, :cols => 50
    %p
      = f.submit "Guardar nota"

.separata
  %h1 Opciones
  - if(@host || @admin_extenda) && !@meeting.canceled?
    %p
      %h2= link_to "Cancelar cita", meeting_path(@meeting), :method => :put, :confirm => "¿Seguro que desea cancelar la cita?"
  - if @host || @guest
    %h2= link_to "Enviar mensaje", new_message_path(:receiver => (@host ? @meeting.guest.profile.company_name : @meeting.host.profile.company_name))

