- title "Mostrando la cita"
#meeting
  - if @meeting.canceled?
    #flash_error
      Esta cita está cancelada.
    %p
      = @meeting.cancel_reason.blank? ? "El interlocutor no ha dado ninguna razón para su cancelación" : "Razón: #{@meeting.cancel_reason}"
  - elsif @meeting.pending?
    #flash_error
      Esta cita está pendiente de aceptación.
  - else
    #flash_notice
      - if @meeting.guest.is_international_buyer?
        Cita aceptada por Extenda
      - else
        Cita aceptada automáticamente

  %h2 INFORMACIÓN DE LA CITA
  %p 
    = @meeting.date

  - #Mostramos los distintos perfiles dependiendo de quién esté viendo la cita
  - if @host || @admin_extenda
    #guest-info-mini
      %p
        - if @meeting.guest.external
          = "Cita con #{h @meeting.guest.profile.company_name.upcase}"
          #flash_notice= "El usuario con el que tiene esta cita no pertenece al sistema." 
        - else
          = "Comprador: #{h @meeting.guest.profile.company_name.upcase} ("
          = link_to "Más información"
          )
    #guest-info= render :partial => 'profiles/show', :locals => {:profile => @meeting.guest.profile}
    
  - if @guest || @admin_extenda
    #host-info-mini
      %p
        = "Expositor: #{@meeting.host.profile.company_name.upcase} ("
        = link_to "Más información"
        )
    #host-info= render :partial => 'profiles/show', :locals => {:profile => @meeting.host.profile}

  //Notas, accesibles solo por el host y el guest
  - if @host || @guest
    #notes
      - form_for @meeting, :url => change_note_meeting_path(@meeting) do |f|
        %p
          = label_tag("meeting_#{@host ? 'note_host' : 'note_guest'}","Notas sobre la cita")
          = f.text_area @host ? 'note_host' : 'note_guest', :rows => 5, :cols => 48
        %p.enviar
          = f.submit "Guardar nota"

  .separata
    %h2 OPCIONES
    - if(@host || @admin_extenda) && !@meeting.canceled?
      %span.button.violet#cancel-button= link_to "Cancelar cita", meeting_path(@meeting), :class => 'cancel-meeting-link', :id => @meeting.id
      %p
        = render :partial => 'cancel_form', :locals => {:meeting => @meeting}
    - if @host || @guest
      %span.button.violet= link_to "Enviar mensaje", new_message_path(:receiver => (@host ? @meeting.guest.profile.company_name : @meeting.host.profile.company_name))

