#agenda_extenda
  .date

    = day_link(Event.start_day)
    = day_link(Event.start_day + 1 )
    -#= day_link(Event.start_day + 2)

  - unless @meetings_by_host.blank?
    %ul
      - @meetings_by_host.each do |host, meetings|
        %li
          .plus-icon
            = link_to_function image_tag("icon_mas.png", :alt => "Leer más"), "getMeetings(#{host.id}, #{@guest ? '1' : '0'}, '#{params[:date]}')"
          %strong= host.profile.company_name.upcase
          ="<div id='meetings-#{host.id}' class='meetings-summary'></div>"
    = will_paginate @meetings_by_host
  - else
    No existen citas para ese día

.my_meetings_footer
  %p.imprimir
    = link_to "imprimir #{I18n.localize(@date, :format => '%A %d')}", print_admin_path(:type => params[:type], :date => @date), :target => "_blank"
    = link_to "imprimir todo", print_admin_path(:type => params[:type]), :target => "_blank"

  - content_for(:right_column) do 
    = render :partial => 'meetings/select_schedule_form', :locals => {:role_name => @name}
