.date
  = back_link(@date)
  =" #{I18n.localize(@date, :format => '%A %d')} "
  = foward_link(@date)

- unless @meetings_by_host.blank?
  %ul
    - @meetings_by_host.each do |host, meetings|
      %li
        %strong
          = host.profile.company_name
          = link_to_remote image_tag("plus.gif"), :url => "/ajax/meetings?host_id=#{host.id}&guest=#{'1' if @guest}&date=#{params[:date]}"
          %div{:id => "meetings-#{host.id}"}
- else
  No existen citas para ese día.

- content_for(:right_column) do 
  = render :partial => 'meetings/select_schedule_form', :locals => {:role_name => @name}
