#agenda_extenda
  .date
    = back_link(@date)
    =" #{I18n.localize(@date, :format => '%A %d')} "
    = foward_link(@date)

  - unless @meetings_by_host.blank?
    %ul
      - @meetings_by_host.each do |host, meetings|
        %li
          .plus-icon
            = link_to_function image_tag("plus_green.png", :alt => "Leer más"), "getMeetings(#{host.id}, #{@guest ? '1' : '0'}, '#{params[:date]}')"
          %strong= host.profile.company_name.upcase
          ="<div id='meetings-#{host.id}' class='meetings-summary'></div>"
  - else
    No existen citas para ese día

.my_meetings_footer
  %p.imprimir
    = link_to "Imprimir #{I18n.localize(@date, :format => '%A %d')}", print_admin_path(:type => params[:type], :date => @date), :target => "_blank"
    = link_to "Imprimir todo", print_admin_path(:type => params[:type]), :target => "_blank"

  - content_for(:right_column) do 
    = render :partial => 'meetings/select_schedule_form', :locals => {:role_name => @name}
