%h1 
  Nuevo mensaje enviado a
  = @receiver.profile.company_name

%p
  Remitente: 
  = @sender.profile.company_name

%p
  = @message.subject

%p
  = @message.message

%p 
  Puede acceder al mensaje usando este
  = link_to "link", message_url(:id => @message.id, :type => 'received')
