- restrict_to "national_buyer | international_buyer" do
  - @name = "Información sobre expositores"
- restrict_to "exhibitor" do
  - @name = "Información sobre compradores"
- restrict_to "admin | extenda" do
  - @name = "Información sobre empresas"

- title @name
%h2= @name

#search
  - form_for @search, :url => search_path do |f|
    %p
      = f.label 'profile_company_name_like', "NOMBRE EMPRESA"
      = f.text_field :profile_company_name_like, :class => "white"

    %p
      = f.label 'profile_sectors_id_equals', "SECTOR"
      = f.select :profile_sectors_id_equals, @sectors.map{|s| [s.name.capitalize, s.id]}, :include_blank => "Todos"
    - restrict_to "exhibitor" do
      %p
        = f.label :profile_country_id_equals, "PAÍS"
        = f.select :profile_country_id_equals, Country.with_profiles.collect {|t| [t.name, t.id]}, {:include_blank => "Todos"}

    %p.enviar
      = f.submit "Buscar"
#results
  - if @users
    - if @users.blank?
      %p No se han encontrado coincidencias.

    - else
      %p
        Se han encontrado los siguientes resultados:

      %ul
        - @users_by_sector.each do |country, users_by_country|
          %h3
            = country.capitalize if current_user.is_exhibitor?
          -# - users_grouped = users_by_country.group_by{|u| u.profile.sectors.first.name}
          -# - users_grouped.each do |sector, users|
          -#   %h4= sector.capitalize unless params[:search][:profile_sectors_id_equals].present?
          - for user in users_by_country.sort_by{|e| e.profile.company_name}
            %li
              = link_to user.profile.company_name.upcase, profile_path(user.profile), :class => "profile-link hide-search-button", :id => user.profile.id
              .sectors.pink= user.profile.sectors_string
              -# = link_to_profile(user.profile, user.profile.company_name.upcase)


