#errors
- form_remote_for @assistance, :url => assistance_path(@assistance), :method => :put do |f|
  %p
    = hidden_field_tag "preference_id", @preference.id
    = label :assistance, "Día"
    = f.date_select :day
  %p
    = label :assistance, "Hora llegada"
    = f.time_select :arrive, :minute_step => 30
  %p
    = label :assistance, "Hora de salida"
    = f.time_select :leave, :minute_step => 30
  %p.enviar
    = submit_tag "Modificar"
