<h1>Nuevo sector</h1>

<% form_for(@sector) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nombre del sector"%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Volver', sectors_path %>
