%p
  = f.label :company_name, "Nombre de la compañia"
  %span.required= "*"
  %br/
  = f.text_field :company_name, :size => 15

- fields_for(:user) do |u|
  %p
    = label_tag 'email'
    %br/
    = u.text_field :email 
    %br/
    %span.info
      Facilitando el email podrá recibir notificaciones de las citas y de los mensajes que reciba de otras empresas.
%p
  = f.label :sector_id, "Sector"
  %span.required= "*"
  %br/
  = f.select :sector_id, Sector.all.map{|e| [e.name, e.id]}, :include_blank => true
%p
  = f.label :province_id, "Provincia"
  %br/
  = f.select :province_id, Province.all.collect {|t| [t.name, t.id]}, {:include_blank => "--"}, {:onchange => "load_town(this.options[this.selectedIndex].value)"}
  #town
    - if @user.profile.province_id
      = render :partial => 'ajax/town', :locals => {:towns => Town.find_all_by_province_id(@user.profile.province_id), :f => f}
%p
  = f.label :address, "Dirección"
  %br/
  = f.text_field :address
%p 
  = f.label :zip_code, "Código postal"
  %br/
  = f.text_field :zip_code, :size => 5
%p 
  = f.label :phone, "Teléfono"
  %br/
  = f.text_field :phone, :size => 10
%p 
  = f.label :fax, "Fax"
  %br/
  = f.text_field :fax, :size => 10
%p 
  = f.label :website, "Página web"
  %br/
  = f.text_field :website, :size => 20
%p 
  = f.label :stand, "Stand Andalucía sabor"
  %br/
  = f.text_field :stand, :size => 10
  

#exhibitor{:style => @user.is_exhibitor? ? '' : 'display:none'}
  %p
    = f.label :products, "Productos"
    %br/
    = f.text_field :products
  %p
    = f.label :packages, "Envases"
    %br/
    = f.text_field :packages

#buyer{:style => (@user.is_international_buyer? || @user.is_national_buyer?) ? '' : 'display:none'}
  %p
    = f.label :commercial_profile, "Perfil comercial"
    %br/
    = f.text_field :commercial_profile

