%p
  = f.label :company_name, "Nombre de la compañía <span class ='required'>*</span>"
  = f.text_field :company_name, :size => 15
  = f.error_message_on :company_name
  -# = error_message_on :user,:login

- fields_for(:user) do |u|
  %p
    = label_tag "Email"
    = u.text_field :email 
    = error_message_on :user,:email 
    %span.info
      Facilitando el email podrá recibir notificaciones de las citas y de los mensajes que reciba de otras empresas.
  -#%p
    -#= label_tag "Aparecer en la web de Biocóroba"
    -#= u.check_box :show_in_website
    -#= error_message_on :user,:show_in_website
  %p
    &nbsp;
%p
  = f.label :country_id, "País"
  = f.select :country_id, Country.all.collect {|t| [t.name, t.id]}, {:include_blank => "--"}
%p#province-select
  = f.label :province_id, "Provincia"
  = f.select :province_id, Province.all.collect {|t| [t.name, t.id]}, {:include_blank => "--"}, {:onchange => "load_town(this.options[this.selectedIndex].value)"}
  #town
    - if @user.profile.province_id
      = render :partial => 'ajax/town', :locals => {:towns => Town.find_all_by_province_id(@user.profile.province_id), :f => f}
%p
  = f.label :address, "Dirección"
  = f.text_field :address
  = f.error_message_on :address
%p
  = f.label :address, "Persona de contacto"
  = f.text_field :contact_person
  = f.error_message_on :contact_person
%p 
  = f.label :zip_code, "Código postal"
  = f.text_field :zip_code, :size => 5
  = f.error_message_on :zip_code
%p 
  = f.label :phone, "Teléfono"
  = f.text_field :phone, :size => 10
  = f.error_message_on :phone
%p 
  = f.label :phone, "Móvil"
  = f.text_field :mobile_phone, :size => 10
  = f.error_message_on :mobile_phone
%p 
  = f.label :fax, "Fax"
  = f.text_field :fax, :size => 10
  = f.error_message_on :fax
%p 
  = f.label :website, "Página web"
  = f.text_field :website, :size => 20
  = f.error_message_on :website
-#%p
-#  = f.label :stand, "Stand BIOCórdoba"
-#  = f.text_field :stand, :size => 10
-#  = f.error_message_on :stand
%p
  = f.label :languages, "Idiomas que habla"
  = f.text_field :languages, :value => @user.profile.languages || "Español"
  = f.error_message_on :languages

#exhibitor{:style => @user.is_exhibitor? ? '' : 'display:none'}
-#  %p
-#    = f.label :products, "Productos"
-#    = f.text_field :products
-#    = f.error_message_on :products
-#  %p
-#    = f.label :packages, "Envases"
-#    = f.text_field :packages
-#    = f.error_message_on :packages

#buyer{:style => (@user.is_international_buyer? || @user.is_national_buyer?) ? '' : 'display:none'}
  %p
    = f.label :commercial_profile, "Perfil comercial"
    = f.text_field :commercial_profile
    = f.error_message_on :commercial_profile

%p
  = f.label :sector_ids, "Sectores: <span class ='required'>*</span>"
  .none-margin= f.error_message_on :sectors
  #sectors
    %p.checkbox
      = check_box_tag "all_sectors", 1, false, :id => 'all_sectors'
      %span Todos
    - Sector.all.each do |s|
      %p.checkbox
        = check_box_tag "user[profile_attributes][sector_ids][]", s.id, eval("@user.new_record? ? [] : @user.profile.sectors").map(&:id).include?(s.id)
        %span= s.name.upcase
