- title "Administrar usuarios"
%h2= "Selecciona un tipo de usuario"
%ul
  - for role in @roles
    %li
      = link_to ROLES[role.title.to_sym], type_users_path(role.title)
      = "(#{role.users.length})"

%p
  = link_to "Registra un nuevo usuario", signup_path
  ,
  = link_to "admin/extenda", new_admin_path
  o
  = link_to "Volver", root_path

-# %p
-#   También puedes
-#   %br/
-#   = link_to "Administrar sectores", sectors_path
-#   ,
-#   = link_to "Administrar preferencias", preferences_path
-#   o
-#   = link_to "Monitorizar mensajes sin leer de los usuarios", messages_monitors_path
