<h1>Registra un nuevo usuario</h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
  <p><%= label_tag 'login' %><br/>
  <%= f.text_field :login, :class => 'big_field login' %></p>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email %></p>

  <p>
    <%= label_tag 'role_id', 'Tipo de usuario' %><br/>
    <% selected = params[:user][:role_id].to_i if params[:user] && params[:user][:role_id] %>
    <% if current_user.is_extenda? %>
      <% selected = Role.find_by_title("buyer_international").id and @disabled = true %>
      <%= f.hidden_field :role_id, :value => selected %>
    <% end %>
      
    <%= f.select :role_id, Role.all.map{|r| [r.title, r.id]}, 
      {:include_blank => true, :selected => selected}, {:disabled => @disabled} %>
  </p>

  <p><%= label_tag "auto_password", "¿Auto-generar password?" %>
  <%= check_box_tag 'auto[password]', @auto_password, {}, {:onclick => "$('#password_div').toggle();"} %></p>

  <div id='password_div' style='<%= !@auto_password ? "": "display:none" %>'>
    <p><%= label_tag 'password' %><br/>
    <%= f.password_field :password %></p>

    <p><%= label_tag 'password_confirmation', 'Confirma Password' %><br/>
    <%= f.password_field :password_confirmation %></p>
  </div>

  <p>
    <%= submit_tag 'Dar de alta' %>
    <%= submit_tag 'Dar de alta y seguir registrando', :name => "continue" %>
  </p>
<% end -%>
