.users.new.extenda
  - form_for @user, :url => register_admin_path do |f|
    
    %h2 Seleccione el tipo de administrador:
   
    %p
      = f.radio_button(:role_id, 1)
      %span Admin
    %p
      = f.radio_button(:role_id, 2)
      %span Extenda


    %p
      = f.label :login
      = f.text_field :login, :class => 'big_field login'
      = f.error_message_on :login
    %p
      = f.label :email
      = f.text_field :email
      = f.error_message_on :email

    %p.enviar
      = submit_tag 'Dar de alta' 
