- title "Buscador de empresas"
%h1 Buscador de empresas

#search
  - form_for :search, :url => search_path do |f|
    %div
      = f.label 'profile_company_name_like', "NOMBRE EMPRESA"
      %br/
      = f.text_field :profile_company_name_like

    %div
      = f.label 'profile_sectors_id_equals', "SECTOR"
      %br/
      = f.select :profile_sectors_id_equals, Sector.all.map{|s| [s.name, s.id]}, :include_blank => "Todos"

    %div
      = f.submit "Buscar"

- if @users
  %p
    Se han encontrado los siguientes resultados:

  %ul
    - @users_by_sector.each do |sector_name, users|
      %h3
        = sector_name.capitalize

      - for user in users
        %li
          = link_to_profile(user.profile, user.profile.company_name)
          = link_to "Solicitar cita", meeting_into_and_path(current_user, user) if user.is_buyer? && !user == current_user


