- title "Listado de usuarios #{@role.title}"

%p
  - if @users.empty?
    No existen usuarios de este tipo.
  - else
    %table#orderable.tablesorter{:cellspacing => "1", :cellpadding => "0", :border => "0"}
      %thead
        %tr
          %th.header= "Login"
          %th.header= "Email"
          %th.header= "Password"
      %tbody
        - for user in @users
          %tr{:class => "#{cycle('odd', 'even')}"}
            %td= h user.login
            %td= h user.email
            %td= h user.password
            %td
              = link_to "Editar", edit_user_path(user.id)
              = link_to "Eliminar", user_path(user.id, :type => params[:type]), :confirm => '¿Estás seguro?', :method => :delete
= will_paginate @users
%p
  - if %w(1 2).include? @role.id.to_s
    = link_to "Crear nuevo usuario", new_admin_path
  - else
    = link_to "Crear nuevo usuario", signup_path
  o
  = link_to "Volver", users_path

