%h1= "Usuarios: #{@role.title}"

%p
  - if @users.empty?
    No existen usuarios de este tipo.
  - else
    %table
      %th= "login"
      %th= "email"
      %th= "opciones"

      - for user in @users
        %tr
          %td= user.login
          %td= user.email
          %td
            = link_to "Editar", user_path(user)
            = link_to "Eliminar", user_path(user, :type => params[:type]), :confirm => '¿Estás seguro?', :method => :delete
%p
  = link_to "Volver", users_path
