- title "Listado de usuarios: #{ROLES[@role.title.to_sym]}"
%h2= yield :title

.users
  %p.pink
    - if @users.empty?
      No existen usuarios de este tipo.
    - else
      %table.tablesorter{:cellspacing => "1", :cellpadding => "0", :border => "0"}
        %thead
          %tr
            = sorter_header "Empresa", "profiles.company_name", true
            = sorter_header "Nombre de usuario", "login"
            -# %th.header= "Email"
            %th= "Contraseña"
        %tbody
          - for user in @users
            %tr{:class => "#{cycle('odd', 'even')}"}
              %td= truncate(user.profile.company_name, :length => 20)
              %td= h user.login
              %td= h user.password
              %td.actions
                - unless user.is_admin? || user.is_extenda?
                  = link_to "Editar", edit_user_path(user.id)
                  |
                  - if [1,2,3].include?(user.preference.id)
                    = link_to "Asistencia", assistances_path(:preference_id => user.preference, :user_id => user.id), :confirm => '¿Quiere modificar los parámetros por defecto de asistencia de este usuario?'
                  - else
                    = link_to "Asistencia", assistances_path(:preference_id => user.preference, :user_id => user.id)
                  |

                - unless user.login == "admin"
                  = link_to "Eliminar", user_path(user.id, :type => params[:type]), :confirm => '¿Estás seguro?', :method => :delete 
                  |

                = link_to "Regenerar y enviar contraseña", send_password_user_path(user.id), :confirm => 'Va a regenerar una nueva contraseña y enviarla por email, ¿Estas seguro?', :method => :post


  = will_paginate @users
  %p
    %span.button.violet
      - if %w(1 2).include? @role.id.to_s
        = link_to "Crear nuevo usuario", new_admin_path(:user => {:role_id => @role.id})
      - else
        = link_to "Crear nuevo usuario", signup_path(:user => {:role_id => @role.id})
  %p
    %span.button.violet
      = link_to "Imprimir listado de usuarios", print_users_path(:type => @role.title), :target => "_blank"
    o
    = link_to "Volver", users_path

