#left-column
  - restrict_to 'admin' do
    %ul
      %li 
        = link_to "Mis mensajes", received_messages_path
        %p 
          Envíe y reciba mensajes y notificaciones de empresas, expositores y administradores.

      %li 
        = link_to "Agenda de los expositores", meetings_type_path("exhibitors")
        %p 
          Conozca y edite la agenda de los expositores de Andalucía Sabor.

      %li
        = link_to "Agenda de los compradores", meetings_type_path("national_buyers")
        %p
          Conozca y edite la agenda de las empresas visitantes a Andalucía Sabor.

      %li
        = link_to "Agenda de Extenda", meetings_type_path("international_buyers")
        %p
          Conozca la agenda de los compradores internacionales de la feria.

      %li
        = link_to "Alta de nuevos participantes", users_path
        %p
          Dé de alta, de baja o edite información sobre expositores y empresas.

  - restrict_to 'exhibitor' do
    Dev - Expositor
    %hr/
    %ul
      %li= link_to "Mis mensajes (#{current_user.unread_messages_count})", received_messages_path
      %li= link_to "Información sobre empresas visitantes", search_path
      %li Solicitar Citas
      %li= link_to "Mi agenda", root_path

  - restrict_to "national_buyer | internation_buyer" do
    Dev - Comprador
    %hr/
    %ul
      %li= link_to "Mis mensajes (#{current_user.unread_messages_count})", received_messages_path
      %li= link_to "Información sobre expositores", search_path
      %li= link_to "Mi agenda", root_path

  - restrict_to 'extenda' do
    Dev - Extenda
    %hr/
    %ul
      %li= "Poner aquí las secciones"

