%h2 Propiedades del evento
%p
  = f.label :meetings_number, "Número máximo de reuniones"
  = f.text_field :meetings_number, :size => 2
%p
  = f.label :meetings_duration, "Duración de la reunión (minutos)"
  = f.text_field :meetings_duration, :size => 2
%p
  = f.label :event_start_day, "Fecha inicio del evento"
  = f.date_select :event_start_day, :order => [:day, :month, :year] 
%p
  = f.label :event_end_day, "Fecha final del evento"
  = f.date_select :event_end_day, :order => [:day, :month, :year]
%p
  = f.label :event_day_start_at, "Hora inicio del evento"
  = f.time_select :event_day_start_at
%p
  = f.label :event_day_end_at, "Hora final del evento"
  = f.time_select :event_day_end_at 
<!-- Asistencia -->
%h2 Asistencia al evento
%p
  = f.label :day_22_arrival, "Hora de llegada el día 22"
  = f.time_select :day_22_arrival
%p
  = f.label :day_22_leave, "Hora de salida el día 22"
  = f.time_select :day_22_leave
%p
  = f.label :day_23_arrival, "Hora de llegada el día 23"
  = f.time_select :day_23_arrival
%p
  = f.label :day_23_leave, "Hora de salida el día 23"
  = f.time_select :day_23_leave
%p
  = f.label :day_24_arrival, "Hora de llegada el día 24"
  = f.time_select :day_24_arrival
%p
  = f.label :day_24_leave, "Hora de salida el día 24"
  = f.time_select :day_24_leave
