<% title "Preferences" %>

<table>
  <tr>
    <th>Meetings Number</th>
    <th>Meetings Duration</th>
    <th>Event Start Day</th>
    <th>Event End Day</th>
    <th>Event Day Start At</th>
    <th>Event Day End At</th>
  </tr>
  <% for preference in @preferences %>
    <tr>
      <td><%=h preference.meetings_number %></td>
      <td><%=h preference.meetings_duration %></td>
      <td><%=h preference.event_start_day %></td>
      <td><%=h preference.event_end_day %></td>
      <td><%=h preference.event_day_start_at %></td>
      <td><%=h preference.event_day_end_at %></td>
      <td><%= link_to "Edit", edit_preference_path(preference) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Preference", new_preference_path %></p>
