#changelog
  %h1 Changelog

  %h2 Sprint 1
  %ul
    %li
      Mensajes: Nuevo mensaje, envío múltiple, autocompletado de destinatarios
      = span("new")
    %li
      Análisis de estado de los mensajes
      = span("new")
    %li
      Agenda: Validaciones
      = span("update")
    %li
      Buscador básico de compradores
      = span("new")
    %li
      Ampliación de campos del perfil de usuario
      = span("update")
    %li
      Visualización del perfil de usuario
      = span("new")
    %li
      TimeLine nuevo usuario registrado
      = span("new")
    %li
      TimeLine nuevo mensaje recibido
      = span("new")
    %li
      Administrador: monitorización de mensajes sin leer.
      = span("new")
    %li
      Ampliación del buscador de usuarios
      = span("update")
    %li
      Popup perfil de usuario
      = span("new")
    %li
      Administrador, mensajería y acceso a perfiles
      = span("update")
    %li
      Modificación de nuevo mensaje, creación de asunto y nueva forma de selección de destinatarios
      = span("update")
    %li
      Opción de enviar a todos los expositores y compradores para el administrador y extenda
      = span("new")

  %h2 Sprint 0
  %ul
    %li
      Base aplicación: Modelos y relaciones
      = span("new")
    %li
      Sistema de usuarios: Autenticación y roles
      = span("new")
    %li
      Usuarios: Perfil de usuario
      = span("new")
    %li
      Sistema de configuraciones
      = span("new")
    %li
      Agenda: Primera aproximación
      = span("new")
    %li.strike
      Agenda: Validaciones
      = span("todo")
    %li
      Mensajes: Envío y recepción
      = span("new")
    %li.strike
      Mensajes: Nuevo mensaje, envío múltiple, autocompletado de destinatarios
      = span("todo")

