#changelog
  %h1 Changelog

  %h2 Sprint 1
  %ul
    %li
      = span("new")
      Buscador básico de compradores

  %h2 Sprint 0
  %ul
    %li
      = span("new")
      Base aplicación: Modelos y relaciones
    %li
      = span("new")
      Sistema de usuarios: Autenticación y roles
    %li
      = span("new")
      Agenda: Primera aproximación
    %li
      = span("todo")
      Agenda: Validaciones
    %li
      = span("new")
      Mensajes: Envío y recepción

