%p
  = f.label :company_name, "Nombre de la compañia"
  %br/
  = f.text_field :company_name
%p
  = f.label :address, "Dirección"
  %br/
  = f.text_field :address
%p
  = f.label :sector_id, "Sector"
  %br/
  = f.select :sector_id, Sector.all.map{|e| [e.name, e.id]}, :include_blank => true
%p 
  = f.label :zip_code, "Código postal"
  %br/
  = f.text_field :zip_code
%p
  %b
    TODO, ciudad y provincia

#exhibitor{:style => @user.is_exhibitor? ? '' : 'display:none'}
  %p
    = f.label :products, "Productos"
    %br/
    = f.text_field :products
  %p
    = f.label :packages, "Envases"
    %br/
    = f.text_field :packages

#buyer{:style => (@user.is_international_buyer? || @user.is_national_buyer?) ? '' : 'display:none'}
  %p
    = f.label :commercial_profile, "Perfil comercial"
    %br/
    = f.text_field :commercial_profile

