!!! Strict
%html{html_attrs}
  / App layout
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    -# = stylesheet_link_tag 'application', 'tablesorter', 'weekly', 'ui-theme/ui', :cache => true
    
    %link{:rel => "shortcut icon", :href => "/biocordoba.ico"}
    -# %link{:rel => "icon", :type => "image/gif", :href => "/animated_favicon1.gif"}

    = stylesheet_link_merged :base
    = javascript_include_merged :base

    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
    <![endif]-->

    = yield(:head)
  
  %body
    #loading 
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. ANDALUCÍA SABOR"
          %h2.claim
            .version
              %span= "VERSIÓN #{ROLES[current_user.role.title.to_sym].upcase}"
            %span
              AGENDA VIRTUAL - del 22 al 24 de Septiembre
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper
          = render :partial => 'layouts/left_column'
          .main_content
            = yield
          #right-column 
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}", :class => 'flash-message'
            = render :partial => 'layouts/right_column'

      #footer
        .wrapper
          %p
            = "Todos los derechos reservados © 2009 Andalucía Sabor International Fine Food Exhibition |"
            = mail_to "andaluciasabor@andaluciasabor.es", "andaluciasabor@andaluciasabor.es"
            = " | "
            = link_to "Aviso legal","http://www.andaluciasabor.es/index.php?section=aviso-legal"

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10672688-1");
pageTracker._trackPageview();
} catch(err) {}</script>
