!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    -# = stylesheet_link_tag 'application', 'tablesorter', 'weekly', 'ui-theme/ui', :cache => true
    
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    %link{:rel => "icon", :type => "image/gif", :href => "animated_favicon1.gif"}

    = stylesheet_link_merged :base
    = javascript_include_merged :base

    = yield(:head)
  
  %body
    #loading 
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. ANDALUCÍA SABOR"
          %h2.claim
            .version
              %span= "VERSIÓN #{ROLES[current_user.role.title.to_sym].upcase}"
            %span
              AGENDA VIRTUAL - del 22 al 24 de Septiembre
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper
          = render :partial => 'shared/left_column'
          %div{:class => @controller.controller_name == 'preferences' && @controller.action_name == 'index' ? 'main_content preferences' : 'main_content'}
            = yield
          #right-column 
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}", :class => 'flash-message'
            = render :partial => 'shared/right_column'

      #footer
        .wrapper
          %p
            = "Todos los derechos reservados © 2009 Andalucía Sabor International Fine Food Exhibition |"
            = mail_to "andaluciasabor@andaluciasabor.es", "andaluciasabor@andaluciasabor.es"
            = " | "
            = link_to "Aviso legal","http://www.andaluciasabor.es/index.php?section=aviso-legal"
            
      
      = link_to "Changelog", development_path
