<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
  <title>
    Cojo el paraguas
  </title>
  <base href="http://cojoelparaguas.com">
</head>
<%- colspan = 4 %>
<body style="font: 16px arial,helvetica,clean,sans-serif; *font-size:small; *font:x-small;">
  <table width="600px" border="0">
    <tr>
      <td colspan="<%= colspan %>">
        <table align="center">
          <tr>
            <td>
              <img alt="Cielo lluvia" src="/images/fondoparaguas_azul_email.jpg" width="600"  />
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="<%= colspan %>">
        <table width="100%" >
          <tr>
            <td align="center">
              <a href="http://www.cojoelparaguas.com" title="Ir a cojoelparaguas.com" style="text-decoration:none;" > <img alt="¿Cojo el paraguas?" src="/images/logo_azul.png?1233330033" width="426" style="border:none;"/></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr valign="top" align="center">
      <td>
        <table width="500">
          <tr>
            <td style="line-height: 1.5em">
              <%= MESSAGES[@alert.message_id][0] %>
              La previsión para <b><%= @alert.locality.name %></b> de hoy es:
            </td>
          </tr>
        </table>  
      </td>
    </tr>

    <tr>
      <td colspan="<%= colspan %>">&nbsp;</td>
    </tr>

    <tr>
      <td>
        <table align="center" id="table_forecast" width="500" >
          <tr style="padding-bottom: 20px;">
            <td rowspan="6" width="128" style="padding:5px 50px 5px 50px;">
              <img src="/images/weather/<%= @weather_img %>.png"></img>
            </td>
            <td style="font-weight:bold;font-size:15px;">Prob Lluvia</td>
            <td><%= @alert.locality.chance_rain %> %</td>

          </tr>
          <tr>
            <td style="font-weight:bold;font-size:15px;">Mín</td>
            <td><%= @alert.locality.min%>°C</td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-size:15px;">Máx</td>
            <td><%= @alert.locality.max%>°C</td>
          </tr>
          <tr>
            <td style="font-weight:bold;font-size:15px;">Viento</td>
            <td>
              <%= @alert.locality.wind %>
              km/h
            </td>
          </tr>
          <tr>
            <td style="font-weight:bold;">Cota Nieve</td>
            <td>
              <%= @alert.locality.snow.blank? ? "N/A" : "#{@alert.locality.snow} metros"  %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
 

    <tr>
      <td colspan="<%= colspan %>">&nbsp;</td>
    </tr>

    <tr>
      <td>
        <table width="500" align="center">
          <tr>
            <td>
              <%= MESSAGES[@alert.message_id][1] %>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="<%= colspan %>">&nbsp;</td>
    </tr>

    <tr>
      <td align="center" style="color:#666; font-size: 0.8em;">
          Recuerda que puedes dejar de recibir avisos siguiendo el siguiente
          <%= link_to "enlace", cancel_alert_url(:cancel_code => @alert.cancelation_code, :host => HOST)%>
      </td>
    </tr>


    <tr align="center">
      <td colspan="<%= colspan %>">
        <img alt="Footer-flower-rain" src="/images/footer-flower-rain.png?1233330033" width="600" />
      </td>
    </tr>
  </table> 
</body>
</html>

