!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'tablesorter', 'weekly', 'ui-theme/ui'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'jquery.tablesorter.min', 'application'
    = yield(:head)
  
  %body
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. ANDALUCÍA SABOR"
          %h2.claim
            %span
              del 22 al 24 de Septiembre - Andalucía Sabor, International Fine Food Exhibition
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
            
          = yield

      #footer
        .wrapper
          = link_to "Changelog", development_path
