!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', 'tablesorter', 'weekly', 'ui-theme/ui'
    = javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min', 'jquery.tablesorter.min', 'application'
    = yield(:head)
  
  %body
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. ANDALUCÍA SABOR"
          %h2.claim
            %span
              AGENDA VIRTUAL - del 22 al 24 de Septiembre
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper   
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}_login"
          = yield

      #footer
        .wrapper
          %p
            = "Todos los derechos reservados © 2009 Andalucía Sabor International Fine Food Exhibition |"
            = mail_to "andaluciasabor@andaluciasabor.es", "andaluciasabor@andaluciasabor.es"
            = " | "
            = link_to "Aviso legal", "http://www.andaluciasabor.es/index.php?section=aviso-legal"
            
      
      = link_to "Changelog", development_path

