!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    %link{:rel => "icon", :type => "image/gif", :href => "animated_favicon1.gif"}

    = stylesheet_link_merged :base
    = javascript_include_merged :base
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
    <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>    
    <![endif]-->
    = yield(:head)
  
  %body
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. ANDALUCÍA SABOR"
          %h2.claim
            %span
              AGENDA VIRTUAL - del 22 al 24 de Septiembre
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper   
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}_login", :class => 'flash-message'
          = yield

      #footer
        .wrapper
          %p
            = "Todos los derechos reservados © 2009 Andalucía Sabor International Fine Food Exhibition |"
            = mail_to "andaluciasabor@andaluciasabor.es", "andaluciasabor@andaluciasabor.es"
            = " | "
            = link_to "Aviso legal", "http://www.andaluciasabor.es/index.php?section=aviso-legal"
