!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    -# %link{:rel => "icon", :type => "image/gif", :href => "/animated_favicon1.gif"}

    = stylesheet_link_merged :base
    = javascript_include_merged :base

    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
    <![endif]-->

    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
    <![endif]-->
    = yield(:head)
  
  %body
    #banner-top
    #container
      #header
        .wrapper
          %h1
            - link_to(root_path) do
              %span "AGENDA VIRTUAL. BIOCÓRDOBA"
          %h2.claim
            %span
              AGENDA VIRTUAL - del 22 al 24 de Septiembre
          = render :partial => 'sessions/user_bar'

      #content
        .wrapper   
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}_login", :class => 'flash-message'
          = yield

      #footer
        .wrapper
          %p
            = "Todos los derechos reservados © 2010 Biocórdoba. Organic food trade show | "
            = "Mónica García Paredes - 637.771.273 - "
            = mail_to "info@biocordoba.com", "info@biocordoba.com"

    = render :partial => 'layouts/ga'