!!! Strict
%html{html_attrs}
  %head
    %title
      = h(yield(:title) || "AGENDA VIRTUAL")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'print', :media => "print"
    = stylesheet_link_tag 'print'
  
  %body
    #container
      #header
        %h1
          = link_to image_tag( "/images/cabecera_impresiones.jpg",:alt => "Andalucía Sabor- Agenda Virtual", :width => 755), root_path

      #content
        .wrapper
          .main_content
            = yield


